body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

:root {
    --primary-color: #6ccca5;
}

.modal {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    max-width: 80%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-header {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.modal-btn {
    width: 100%;
    background-color: green;
}

.close-button {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 1.25rem;
    position: absolute;
    right: 10px;
    top: 5px;
}

/* Progressbar START*/
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    counter-reset: step;
    margin: 3rem 0;
}

.progressbar::before, .progress {
    content: "";
    height: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background-color: #dddd;
    z-index: -1;
}

.progress {
    background-color: var(--primary-color);
    width: 0%;
}

.progress-step {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #dddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.75rem);
    font-size: 0.85rem;
    color: #000000;
}

.progress-step-active {
    background-color: var(--primary-color);
    color: #ffff;
}

/* Progressbar END */

.modal-content {
    margin: 25px;
}

.modal-options {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.modal-options img {
    max-height: 90%;
    max-width: 90%;
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay .active {
    pointer-events: all;
    opacity: 1;
}

.btn {
    color: white;
    font-size: 1rem;
    text-decoration: none;;
    padding: 0.75rem;
    border-radius: 10px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.btn-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 25px;
}

.btn-prev, .btn-exit{
    background-color: red;
}

.btn-next, .btn-upload, .btn-end {
    background-color: var(--primary-color);
}

.form-step {
    display: none;
}

.form-step-active {
    display: block;
}

.option-selection {
    box-shadow: 0px 0px 5px 5px rgba(13,255,30,0.8);
}

.hide-btn {
    display: none;
}
